<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 4</b></center>    
<pre>



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
URL = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv";

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv(URL,sep="\t")

### Step 4. See the first 10 entries

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [10]:
# Solution 1
chipo.shape[0]

4622

In [ ]:
# Solution 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [11]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

5

In [13]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [14]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

RangeIndex(start=0, stop=4622, step=1)

In [15]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Number of Unique Items ?

50

In [27]:
print(chipo.nunique().item_name)

50

### Step 10. Which was the most-ordered item?

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [ ]:
chipo.groupby('item_name')

TypeError: DataFrame.groupby() got an unexpected keyword argument 'sum'

### Step 11. How many items were orderd in total?

4972

In [ ]:
chipo.groupby('quantity').sum()

,order_id,item_name,choice_description,item_price
quantity,,,,
1,4032682,Chips and Fresh Tomato SalsaIzzeNantucket Nect...,"[Clementine][Apple][Fresh Tomato Salsa (Mild),...",$2.39 $3.39 $3.39 $2.39 $10.98 $1.69 $11.75 $9...
2,205258,Chicken BowlCanned SodaCanned SodaChicken Sala...,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $2.18 $2.18 $22.50 $17.98 $17.50 $17.50...
3,29105,Chicken BowlBowlCanned Soft DrinkBottled Water...,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94 $22.20 $3.75 $3.27 $3.75 $3.75 $27.75 $...
4,11652,Chicken BurritoChips and Fresh Tomato SalsaBot...,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00 $11.80 $6.00 $6.00 $4.36 $35.00 $5.00 $...
5,970,Bottled Water,0,$7.50
7,1443,Bottled Water,0,$10.50
8,1559,Side of Chips,0,$13.52
10,1660,Bottled Water,0,$15.00
15,1443,Chips and Fresh Tomato Salsa,0,$44.25

### Step 12. Turn the item price into a float

#### Step 12.a. Check the item price type

In [102]:
chipo['item_price'] = chipo['item_price'].str[1::]

#### Step 12.b. Create a lambda function and change the type of item price

In [71]:
x = lambda a : float(a)

In [103]:
chipo.item_price = chipo.item_price.apply(x)

#### Step 12.c. Check the item price type

In [104]:
chipo['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

Revenue was: $39237.02

In [147]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print("Revenue was : $",revenue)

Revenue was : $ 39237.02

### Step 15. How many orders were made ?

1834

In [126]:
chipo['order_id'].nunique()

1834

### Step 17. How many different choice descriptions are there?

In [79]:
chipo['choice_description'].nunique()

1043

### Step 18. What items have been ordered more than 100 times?

item_name
Bottled Water                   211
Canned Soda                     126
Canned Soft Drink               351
Chicken Bowl                    761
Chicken Burrito                 591
Chicken Salad Bowl              123
Chicken Soft Tacos              120
Chips                           230
Chips and Fresh Tomato Salsa    130
Chips and Guacamole             506
Side of Chips                   110
Steak Bowl                      221
Steak Burrito                   386
Name: quantity, dtype: int64

In [108]:
result = chipo.groupby('item_name')['quantity'].sum()
result = result[result > 100]
result

item_name
Bottled Water                   211
Canned Soda                     126
Canned Soft Drink               351
Chicken Bowl                    761
Chicken Burrito                 591
Chicken Salad Bowl              123
Chicken Soft Tacos              120
Chips                           230
Chips and Fresh Tomato Salsa    130
Chips and Guacamole             506
Side of Chips                   110
Steak Bowl                      221
Steak Burrito                   386
Name: quantity, dtype: int64

### Step 19. What is the average revenue amount per order?

In [132]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
orders = chipo['order_id'].nunique()
res = revenue/orders
print(res)

21.39423118865867

In [151]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
print(chipo.groupby('order_id').sum()['revenue'].mean())

21.39423118865867

In [ ]:
# Solution 1

21.394231188658654

In [ ]:
# Solution 2

21.394231188658654